{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check your answers template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">
        Check your answers before sending your application
      </h1>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Who is claiming funding?"
            },
            value: {
              text: data['who-is-claiming']
            },
            actions: {
              items: [
                {
                  href: "/tell-us-about",
                  text: "Change",
                  visuallyHiddenText: "Who is claiming funding?"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "When are you claiming funding for?"
            },
            value: {
              text: data['when-will-funding']
            },
            actions: {
              items: [
                {
                  href: "/when-will-funding",
                  text: "Change",
                  visuallyHiddenText: "When are you claiming funding for?"
                }
              ]
            }
          }
          ,
          {
            key: {
              text: "More details"
            },
            value: {
              text: data['more-details']
            },
            actions: {
              items: [
                {
                  href: "/provide-details",
                  text: "Change",
                  visuallyHiddenText: "More details"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Now send your application
      </h2>

      <p>
        By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>

      <form action="/confirmation" method="post" novalidate>

        {{ govukButton({
          text: "Accept and send"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
